# Ignore sensitive files
passwords.txt
secret.key
zabbix_server.conf.j2
vault.yml
new_vault.yml
# Ignore directories
logs/
tmp/
node_modules/
Cloud-security-/
/static/images/
#Ignore env file 
.env



